- content_for :title do 'New Team' end

%section
    .page-header
        %h2
            New team
    .row
        = render :partial => 'form', :locals => {:team => @new_team, :action => 'Create', :url => teams_path}
