Hello #{@payer},
%br
%br
On behalf of everyone at #{ORG::NAME}, thank you for your contribution.
%br
%br
We appreciate your support and will continue to provide awesome gameplay!
%br
%br
If you have any questions, feel free to respond to this email.
%br
%br
The user '#{@receiver}' should automatically have the purchased perks when they rejoin the server.
%br
%br
Thanks,
%br
%br
#{ORG::NAME} Staff
