- content_for :title do "Maps" end

%section
    .page-header
        %h2
            The Maps
            %small A large variety of unique maps
    .row
        .col-md-12
            = render partial: 'tabs'
    = render partial: 'list', locals: {maps: @maps}
