- content_for :title do "Shop" end
%section
    .page-header
        %h2
            Shop
            %small Temporarily Closed
    .row{:style => "text-align: center;"}
        %img{:src => "https://i.imgur.com/jTKmyFD.png"}
