- content_for :title do "Secret Santa" end
%section
    = render :partial => "header"
    .row
        .col-md-12
            .page-header
                %h2 Thank You
            %p Thank you for helping not only us, but other users as well. We greatly appreciate it.
