- content_for :ftitle do "New Topic in " + @topic.forum.category.name + ": " + @topic.forum.title end

- content_for :main do
    .page-header{:style => "margin: 0px;"}
        %h3
            New Topic
            %small= @topic.forum.category.name + ": " + @topic.forum.title
    %br
    = render 'form'

= render :file => 'forem/forums/index', :controller => 'forums'
