%p= "Welcome #{@resource.username}!"
%p You can confirm your account email through the link below:
%p
    %a{:href => confirmify_url(@token)} Confirm my account
%p If the link above doesn't work you can copy and paste the following link into your browser:
%p
    %a{:href => confirmify_url(@token)}= confirmify_url(@token)
%p Thanks in advance for confirming your account.
%p - #{ORG::NAME} Staff
