- if forum.can_view?(current_user)
    %li{:class => ("active" if @forum != nil && @forum.id == forum.id)}
        %a{:href => forum_path(forum)}
            - if (unread = forum.unread_topics_for) > 0
                .unread.pull-right
                    %span.label.label-info= unread
            = forum.title
