%h4.strong.center
    Discord
.text-center
    %a{:href => "https://discord.gg/Vxmq7Xp", :target => "_blank"}
        %img{:src => "https://discordapp.com/api/guilds/262808538219282443/widget.png?style=shield"}
