%section
    .row
        .col-md-12
            .form-inline
                .form-group
                    %label User to edit:
                    = user_select_field('admin-user-search', 'user', allow_clear: true, placeholder: "User")
