- content_for :title do 'Reports' end

%section
    .page-header
        .btn-group.pull-right
            %a.btn.btn-default.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
                #{@sort.capitalize} Reports
                %span.caret
            %ul.dropdown-menu
                - %w(all open closed locked escalated).each do |sort|
                    %li{:class => (sort == @sort ? 'active' : nil)}
                        %a{:href => reports_path + '?sort=' + sort}
                            = sort.capitalize
        %h2
            Reports
            %small That pertain to you
    .row
        .col-md-12
            - if @reports.exists?
                = render :partial => 'reports/web/list', :locals => {:reports => @reports}
                = paginate @reports unless @reports.nil?
            - else
                %center
                    %p No reports to display.
