.attachment-regulars_faq h2 {
    margin-top: 40px;
}

.attachment-regulars_faq h4 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

.attachment-regulars_faq li {
    margin-bottom: 10px;
}
