.trophy div {
	font-size: 110px;
	width: 100%;
	height: 175px;
	vertical-align: bottom;
	text-align: center;
	line-height: 175px;
}

.trophy div i {
	height: 100%;
	width: 100%;
}

.trophy h4 {
	text-align: center;
}

#trophies.collapse {
    position: static;
}
